body {
    background-color: #f8fafc;
    font-family: 'Arial', sans-serif;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    position: relative;
    font-family: Copperplate, Papyrus, fantasy;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.masthead-content {
    position: absolute;
    z-index: 2;
}

.slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.slider {
    display: flex;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */
}

.slider::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slider-nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 1rem;
    z-index: 2;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity 0.25s ease;
}

.slider-nav a:hover {
    opacity: 1;
}

.contentxx {
    transition: background-color 2s;
}

.contentxx:hover {
    background-color: lightblue;
}
